html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background: #FFFFFF;
  color: #393939;
}

p {
    line-height: 2;
    font-weight: 500;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  color: #393939;
  font-size: 30px;
}

.positioner {
  width: 1050px;
  margin: 0 auto;
}
/*
.layout-positioner {
  width: 750px;
  margin: 0 auto;
}

.header .layout-positioner {
  width: 100%;
} 

.layout-positioner::after {
  content:"";
  display:table;
  clear:both;
} */

/* Header */

.header {
  display: flex;
  background-color:#34495e;
  padding: 10px;
  justify-content: space-around;
}

.header-logo {
  width: 130px;
  height: 41px;
  border: solid 2px #ffffff;
  text-align: center;
}

.header-logo a {
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  line-height: 37px;
}

.header-menu {
  display: flex;
}

.header-menu a {
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}

.header-menu a:hover,
.header-menu a:active {
  color: #ffa37b;
}

.header_phone {
  padding: 5px 0;
  background-color: #ffa37b;
  text-align: center;
  width: 152px;
  height: 30px;
  padding: 10px 0;
}

.header_phone span {
  color: #ffffff;
}

.booking {
  background-color: #ffa37b;
  text-align: center;
  padding: 15px 0;
  width: 152px;
  height: 20px;
}

.booking a {
  color: #ffffff;
}

.btn {
  display: block;
  width: 100px;
  height: 20px;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ffa37b;
}

/* Features */
  
.features {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 50px;
}

.features-item {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.icon-box img {
  width: 100%;
  height: 100%;
}

.icon-box {
  align-self: center;
  width: 82px;
  height: 82px;
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery_item {
  width: 337.25px;
}

.gallery_item img {
  width: 100%;
}

/* About */

.about {
  display: flex;
}

.about-content p {
    line-height: 35px;
}

.about-images {
  display: flex;
  align-items: center;
}

.about-item {
  padding: 20px;
}

/* Reviews */

.reviews {
    background-image: url(../images/testimonials.jpg);
}

.review-positioner {
  width: 1050px;
  margin: 0 auto;
  display: flex;
}

.review-item {
  padding: 30px;
  text-align: center;
  margin: 50px 20px;
  background-color: white;
}

.stars img {
  width: 120px;
}

/* Footer */
  
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-top {
  text-align: center;
}

.footer-top h1 {
  border: 2px solid black;
  width: 230px;
  font-size: 50px;
  padding: 20px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-bottom div {
  margin: 20px;
}

.footer-bottom div li {
  color: #6d6d6d;
  margin: 10px;
}

.footer-bottom div li:first-child {
    font-size: 20px;
    color: #393939;
    margin-bottom: 15px;
    font-weight: bold;
}